.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* CSS for side-nav */
.sidenav {
  height: 100%;
  width: 60px; /* Set the initial width of the side navigation */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6277cc;
  padding-top: 20px;
  transition: width 0.3s; /* Adding the transition effect */
}

.sidenav.expanded {
  width: 200px; /* Set the expanded width of the side navigation */
}

.sidenav li {
  list-style-type: none;
  padding-right: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #c9e6e8;
  display: block;
}

.sidenav li a {
  color: white;
}
.p1 {
  display: block;
  margin-top: 12px;
}
.p2 {
  display: none;
}

.sidenav li:hover a {
  size: "xl";
  color: #101010;
  border-radius: 6px;
  transition: all 0.4s linear;
  transform: scale(1.1);
  padding-top: 10px;
  opacity: 75%;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: #ede4e4;
  font-size: 24px;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.6s linear;
  transform: scale(1.1);
}

.why-choose-us li {
  list-style-type: none;
}
